## import and PATH_LOAD

In [1]:
from dotenv import load_dotenv, find_dotenv
import pandas as pd
import os
from feast import FeatureStore
from feast.infra.offline_stores.file_source import SavedDatasetFileStorage

# .env 파일을 자동으로 찾아 로드합니다.
load_dotenv(find_dotenv())

# .env에 정의된 변수명을 정확히 입력해야 합니다. (DATA_PATH 인지 확인)
DATA_PATH = os.getenv("STEAM_PATH")

print(f"로드된 경로: {DATA_PATH}")

if DATA_PATH is None:
    print("경고: DATA_PATH를 로드하지 못했습니다. .env 파일의 변수명을 확인해주세요.")

c:\Users\rlaqu\Documents\GitHub\AI_Study_Logs\.venv\Lib\site-packages\feast\permissions\auth_model.py:35: PydanticDeprecatedSince212: Using `@model_validator` with mode='after' on a classmethod is deprecated. Instead, use an instance method. See the documentation at https://docs.pydantic.dev/2.12/concepts/validators/#model-after-validator. Deprecated in Pydantic V2.12 to be removed in V3.0.
  @model_validator(mode="after")

로드된 경로: C:\Users\rlaqu\Documents\GitHub\AI_Study_Logs\feast_project\steam\

In [2]:
#
game_df = pd.read_csv(DATA_PATH + "/games.csv")
history_df = pd.read_csv(DATA_PATH + "history.csv")
game_df.head()
history_df.head()

            playerid achievementid        date_acquired
0  76561198220441373  403640_ACH_1  2019-12-18 15:33:43
1  76561198220441373  403640_ACH_2  2019-12-18 23:49:51
2  76561198220441373  403640_ACH_3  2019-12-19 23:05:07
3  76561198220441373  403640_ACH_4  2019-12-24 05:50:49
4  76561198220441373  403640_ACH_5  2023-04-19 22:39:36

## 장르의 분포

In [3]:
genre_df =game_df.groupby('genres').size().sort_values(ascending=False)
print(genre_df.head())

genres
['Casual', 'Indie']                 5298
['Action', 'Indie']                 4877
['Action', 'Adventure', 'Indie']    4278
['Adventure', 'Indie']              3554
['Adventure', 'Casual', 'Indie']    2987
dtype: int64